
ol{
    display: flex;

}
li{
    margin: 50px;
}
 p {
    color: red;
    font-size: 50px;
    text-transform: capitalize;
    text-shadow:1cap;
    text-align: center;

}
div{
    background-color: rebeccapurple;
    width: 75%;
    position: relative;
    top: 200px;
    z-index: -1;
}
